<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Goodbye</h1>
  <p>You've successfully logged out of this Geddy app.</p>
  <p><a href="/login">Click here to log back in.</a></p>
</div>
