{"passport":{"successRedirect":"/","failureRedirect":"/login","twitter":{"consumerKey":"XXXXX","consumerSecret":"XXXXX"},"facebook":{"clientID":"XXXXX","clientSecret":"XXXXX"}},"secret":"hJRlsta2WjH8nN0ehmI6N8cnrq1kXWgIhwHJcHOwihfLGOEzZTAJGOXtY3RPq1z8ZbwHcGEKFc9qAi0y9R1oseREloaY7574vFTPsXBmoiSSJBNHhzDbsAQYqCEftRhk"}