{ "passport": {
    "successRedirect": "/",
    "failureRedirect": "/login",
    "twitter":{
      "consumerKey": "XXXXX",
      "consumerSecret":"XXXXX"
    },
    "facebook":{
      "clientID": "XXXXX",
      "clientSecret": "XXXXX"
    },
    "yammer":{
      "clientID": "XXXXX",
      "clientSecret": "XXXXX"
    }
  }
}
